@tailwind base;
@tailwind components;
@tailwind utilities;


/* vistara sans font  */
@font-face {
    font-family: "Vistara sans";
    src: url("/public/fonts/OTF/Vistarasans-Bold.otf") format('truetype'),;
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Vistara sans";
    src: url("/public/fonts/OTF/Vistarasans-ExtraBold.otg") format('truetype'),;
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: "Vistara sans";
    src: url("/public/fonts/OTF/Vistarasans-ExtraLight.otf") format('truetype'),;
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "Vistara sans";
    src: url("/public/fonts/OTF/Vistarasans-Light.otf") format('truetype'),;
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Vistara sans";
    src: url("/public/fonts/OTF/Vistarasans-Medium.otf") format('truetype'),;
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Vistara sans";
    src: url("/public/fonts/OTF/Vistarasans-Regular.otf") format('truetype'),;
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Vistara sans";
    src: url("/public/fonts/OTF/Vistarasans-SemiBold.otf") format('truetype'),;
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Vistara sans";
    src: url("/public/fonts/OTF/Vistarasans-Thin.otf"),;
    font-weight: 100;
    font-style: normal;
}

/* luxiachy font  */
@font-face {
    font-family: "Luxiachy";
    src: url("/public/fonts/luxiachy.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;

}

.luxiachy{
    font-family: "Luxiachy";
}


/* vistara font classes  */
.vistara-regular{
    font-family: "Vistara sans";
    font-weight: normal;
}
.vistara-light{
    font-family: "Vistara sans";
    font-weight: 300;
}

.vistara-medium{
    font-family: "Vistara sans";
    font-weight: 500;
}
.vistara-semibold{
    font-family: "Vistara sans";
    font-weight: 600;
}
.vistara-light{
    font-weight: 300;
}


:root{
    --red: #882437;
    --primary: #1E1E1E;
}
